<div class="titol bordejat" style="margin-bottom: 20px;">
    Experiència Laboral
</div>

<div *ngFor="let item of experiencialaboral; index as pos" class="clear">    
    <div class="subtitol" >
        <a  (click)='Panel_ClickEvent_Titol(pos)'>{{item.MesInicial}} - {{item.MesFinal}} {{item.Empresa}}</a>
    </div>
    
    <ul class="clear padding-top" style="padding-left: 30%;">
        <li><u><b>{{literal.GetLiteral(cultura, "experiencialaboral.Sector")}}:</b></u> {{item.Sector}}</li>
        <li><u><b>{{literal.GetLiteral(cultura, "experiencialaboral.Rol")}}:</b></u> {{item.Rol}}</li>                
        <li *ngIf="item.EsClient == true">
            <u><b>{{literal.GetLiteral(cultura, "experiencialaboral.Clients")}}:</b></u>
            <div class="padding">
                <span style="width: 80%;float: right;">
                    <app-client [empresa]="item.Empresa"  [empresaid]="item.Id" [fromClient]="false" ></app-client>
                </span>
            </div>
        </li>
        <li *ngIf="!item.EsClient"><u><b>{{literal.GetLiteral(cultura, "experiencialaboral.Descripció")}}:</b></u> {{item.Descripcio}}</li>
        <li *ngIf="!item.EsClient"><u><b>{{literal.GetLiteral(cultura, "experiencialaboral.Tecnologies")}}:</b></u>
            <tags-input class="form-control input-lg" [canDeleteTags]="false"  [displayField]="'text'" [(ngModel)]="item.Tags" id="tags" name="tags"></tags-input>
        </li>
    </ul>

    <br>
</div>
