<div class="center_image">
    <img src="assets/images/cv/jo.jpg" class="centred-image rounded">
</div>

<div class="row">
    <div class="centrat"><label class="diferent-gran">{{capcalera.Nom}}<br />{{capcalera.Cognoms}}</label></div>
</div>

<div>
    <span class="titol"><marquee>FULL STACK: .NET & ANGULAR</marquee></span>
</div>
    
<br><br><br><br>

<div class="row">
    <div class="centrat"><img src="assets/images/cv/phone.png" /> <span class="left-margin">{{capcalera.Telefon}}</span></div>
</div>

<div class="row">
    <div style="position: relative; left: 40px;">
        <span style="float: left;">
            <img src="assets/images/cv/address.png">
        </span>
        <span style="float: left;margin-left: 20px;">
            <p>{{capcalera.Adreca}}</p><p>{{capcalera.CodiPostal}} {{capcalera.Ciutat}}</p><p>({{capcalera.Provincia}})</p>
        </span>
    </div>
</div>
    
<div class="row">
    <div class="centrat" ><img src="assets/images/cv/email.png" /><span class="left-margin">{{capcalera.email}}</span></div>
</div>

<div class="row">
    <div class="centrat"><img src="assets/images/cv/skype.png" /><span class="left-margin">{{capcalera.NickSkype}}</span></div>
</div>

<div class="row">
    <div class="centrat"><img src="assets/images/cv/birthday.png" /><span class="left-margin">{{capcalera.Naixament}}</span></div>
</div>
<br><br>

<div class="row">
    <div class="centrat"><label class="diferent"><img src="assets/images/cv/nationality.png" /><span class="left-margin">{{capcalera.Nacionalitat}} ({{capcalera.Pais}})</span></label></div>
</div>    

<div class="row">
    <div class="centrat"><img src="assets/images/cv/dni.png" /><label class="diferent"><span class="left-margin">{{capcalera.NIF}}</span></label></div>
</div>
