<div class="tamany">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>{{literal.GetLiteral(cultura, "idiomes.Idioma")}}</th>
            <th>{{literal.GetLiteral(cultura, "idiomes.Escriptura")}}</th>
            <th>{{literal.GetLiteral(cultura, "idiomes.Lectura")}}</th>
        </thead>
        <tr *ngFor="let item of idiomes">
            <td>{{item.Idioma}}</td>
            <td>{{item.Escriptura}}</td>
            <td>{{item.Lectura}}</td>
        </tr>
    </table>
</div>
